html {
    font-family: prestige-elite-std, monospace;
}

#containerHeading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "logo lang";
    /*background-image: url(img/Heading/banner.png);
    background-repeat: repeat-x;
    background-color: black; /* Fallback */ 
}

/*
there is no h1 anymore
h1 {
   
}

h1:hover {

     good for now, but i'm going to need a image with transparency i think; 
    or, i make only one logo that determines the size of the whole bar, so, if i hover, it won't look so stupid
    filter: brightness(.6);

}
*/

#containerContent {
    display: grid;
    grid-template-columns: 100;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "foto"
                            "design"
                            "about"
                            "contact";
}

#containerHeading img {
    max-height: 15em;
    min-height: 7em;
    padding-left: 3em;
    padding-top: 3em;

}

#photography, #designs{
    display: grid;
}

/* Container Styling */

#photography {
    grid-area: foto;
    justify-items: center;
    color: rgb(0, 0, 0);
}

#photography h2 {
    margin-top: 3em;
}

#designs {
    grid-area: design;
    justify-items: center;
    color: rgb(0, 0, 0);

}

/* Gallery Styling*/

#photography .cropped-img {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*flex:auto;*/
    justify-content: center;
}

#photography .displayedImage {
    max-width: 30vh;
    margin: 3em;
}

/*
.displayed-img:hover {
    filter: brightness(.6);
}
*/

/*
I think it would be nicer without any buttons
.full-img button {
    display: inline-flex;
    justify-content: center;
}*/






