#containerHeading {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 10em;
    grid-template-areas: "logo nav lang";
    background-image: url(img/Heading/banner.png);
    background-repeat: repeat-x;
    background-color: black; /* Fallback */
}

h1 {
    background-image: url(img/Heading/logo.png);
    background-repeat: no-repeat;
    grid-area: logo;
    color: white;
}

#containerContent {
    background-color: rgb(37, 37, 37);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "foto"
                            "design"
                            "about"
                            "contact";
}

#photography {
    grid-area: foto;
    color: white;
    justify-self: center;
}

#designs {
    justify-self: center;
    grid-area: design;
    color: white;
}



